* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  background-color: #1b1b32;
}

.App {
  height: 100vh;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border: 5px solid #fff;
  border-radius: 20px;
  margin: auto;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: paleturquoise;
}

a:hover {
  color: palegreen;
}

.original {
  margin: 25px;
  color: #fff;
}

.github {
  font-size: xx-large;
}
